<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Customer Management</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
</head>
<body>
	<nav class="navbar navbar-expand-md bg-dark navbar-dark">
	
		<a class="navbar-brand" href="#">Yuvas Softwares</a>

		
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#collapsibleNavbar">
			<span class="navbar-toggler-icon"></span>
		</button>

		
		<div class="collapse navbar-collapse" id="collapsibleNavbar">
			<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link" th:href="@{/customers}">Customer Management</a></li>
				
			</ul>
		</div>
	</nav>

	<div class="container">
		<div class="row">
			<h1>Customer List </h1>
		</div>

		<div class="row">
			<div class="col-lg-3">
				<a th:href="@{/customers/new}" class="btn btn-primary btn-sm mb-3">
					Add Customer</a>
			</div>
			 <div class="col-lg-9">
                
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Search...">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button">Search</button>
                    </div>
                </div>
            </div>
		</div>
		<table class="table table table-light  table-striped table-bordered ">
			<thead class="table-dark">
				<tr>
					<th class="text-center">Name</th>
					<th class="text-center">Patta_Number</th>
					<th class="text-center">Survey_Number</th>
					<th class="text-center">Phone_Number</th>
					<th class="text-center">Address </th>
					<th colspan="2" class="text-center">Actions</th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="customer: ${customers}">
					<td th:text="${customer.Name}" class="text-center"></td>
					<td th:text="${customer.Patta_Number}" class="text-center"></td>
					<td th:text="${customer.Survey_Number}" class="text-center"></td>
					<td th:text="${customer.Phone_Number}" class="text-center"></td>
					<td th:text="${customer.Address}" class="text-center"></td>
					<td class="text-center"><a th:href="@{/customers/edit/{id}(id=${customer.id})}"
						class="btn btn-primary" >Update</a></td>
					<td class="text-center"><a th:href="@{/customers/{id}(id=${customer.id})}"
						class="btn btn-danger" >Delete</a></td>
				</tr>
			</tbody>

		</table>

	</div>
</body>
</html>